<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Employee</title>
        </f:facet>
    </h:head>
    <script type="text/javascript">
        $(document).ready(
            function()
            {
                $("div.ui-selectonemenu.full-width").each(
                    function()
                    {
                        $(this).css("width",$(this).parent().width());
                    }
                );
            }
        );
    </script>
    <style type="text/css">
        .formGrid.ui-panelgrid>*>tr,
        .formGrid.ui-panelgrid .ui-panelgrid-cell {
            border: none;
        }

        #gridForm > .ui-grid-row > .ui-grid-col-2,#gridForm > .ui-grid-row > .ui-grid-col-4{
            padding: 10px;
        }

        .fileUpload > span > input{
            width: 100% !important;
        }
    </style>
    <f:event type="preRenderView" listener="#{employeeView.startForm}" />
    <body>
        <p:dialog header="Add Telephone" widgetVar="dlgTel" modal="true" width="40%">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p:messages id="msgs"/>
                    </div>
                </div>
            </div>
            <h:form id="formTel">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel value="Telephone: " style="margin-top: 10px; margin-bottom: 10px;"/>
                        </div>
                        <div class="ui-grid-col-3">
                            <p:inputMask id="txtTelephone" value="#{employeeView.employeeEntity.telephone.phoneNumber}" mask="099-999-9999" required="true" requiredMessage="กรุณากรอกเบอร์โทรให้ถูกต้อง"/>
                        </div>
                        <div class="ui-grid-col-6"></div>
                    </div>

                    <div class="ui-grid-row" style="margin-top: 10px; margin-bottom: 10px">
                        <div class="ui-grid-col-3"></div>
                        <div class="ui-grid-col-2">
                            <p:commandButton value="Save" process="@form:formTel" actionListener="#{employeeView.addTel}" update=":formEmployee:telephoneLists,:formTel,:msgs,:formEmployee:btnSave"></p:commandButton>
                        </div>
                        <div class="ui-grid-col-2">
                            <p:commandButton type="button" value="Cancle" onclick="PF('dlgTel').hide()"></p:commandButton>
                        </div>
                        <div class="ui-grid-col-5"></div>
                    </div>
                </div>

            </h:form>
        </p:dialog>

        <p:dialog header="Add Email" id="emailDia" widgetVar="dlgEmail" modal="true" width="40%">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p:messages id="msgs1"/>
                    </div>
                </div>
            </div>
            <h:form id="formEmail">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel value="Email: " style="margin-top: 10px; margin-bottom: 10px;"/>
                        </div>
                        <div class="ui-grid-col-3">
                            <p:inputText id="txtEmail" value="#{employeeView.employeeEntity.email.email}" required="true" requiredMessage="กรุณากรอก Email" validatorMessage="กรุณากรอก Email ใหถูกต้อง">
                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            </p:inputText>
                        </div>
                        <div class="ui-grid-col-6"></div>
                    </div>

                    <div class="ui-grid-row" style="margin-top: 10px; margin-bottom: 10px">
                        <div class="ui-grid-col-3"></div>
                        <div class="ui-grid-col-2">
                            <p:commandButton value="Save" process="@form" actionListener="#{employeeView.addEmail}" update=":formEmployee:emailLists,:formEmail,:msgs1,:formEmployee:btnSave"></p:commandButton>
                        </div>
                        <div class="ui-grid-col-2">
                            <p:commandButton type="button" value="Cancle" onclick="PF('dlgEmail').hide()"></p:commandButton>
                        </div>
                        <div class="ui-grid-col-5"></div>
                    </div>
                </div>

            </h:form>
        </p:dialog>

        <h:form id="formEmployee" enctype="multipart/form-data">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-11">
                        <h1 style="margin: 0;">New Employee</h1>
                    </div>
                    <div class="ui-grid-col-1">
                        <p:button value="Back" outcome="index"/>
                    </div>
                </div>
                <p:spacer />
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p:messages id="msgs3" showDetail="true" closable="true"/>
                    </div>
                </div>
                <p:spacer />
                <div class="ui-grid-row">
                    <div class="ui-grid-col-10">
                        <div class="ui-grid ui-grid-responsive" id="gridForm">
                            <div class="ui-grid-row" >
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="First Name:"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:inputText id="firstName" value="#{employeeView.employeeEntity.firstName}" required="true" requiredMessage="กรุณากรอกชื่อของคุณ" validatorMessage="กรุณากรอกข้อมูลให้ถูกต้อง 3-20 ตัวอักษร">
                                    </p:inputText>
                                </div>
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Last Name:"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:inputText id="lasrtName" value="#{employeeView.employeeEntity.lastName}" required="true" requiredMessage="กรุณากรอกนามสกุลของคุณ" validatorMessage="กรุณากรอกข้อมูลให้ถูกต้อง 3-20 ตัวอักษร">
                                        <f:validateLength minimum="3" maximum="20" />
                                    </p:inputText>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Gender: "/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:selectOneRadio id="gender" value="#{employeeView.employeeEntity.gender}" required="true" requiredMessage="กรุณาเลือกเพศของคุณ" >
                                        <f:selectItem itemLabel="Male" itemValue="male" />
                                        <f:selectItem itemLabel="Female" itemValue="female" />
                                    </p:selectOneRadio>
                                </div>
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Date of Birth:"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:calendar id="calendarBtn" showOn="button" yearRange="c-70:c-0" maxdate="#{employeeView.currentDate}" navigator="true"  value="#{employeeView.employeeEntity.dob}" required="true" requiredMessage="กรุณาเลือกวันเกิดของคุณ">
                                        <p:ajax event="dateSelect" listener="#{employeeView.calculateAge}" update=":formEmployee:age"/>
                                    </p:calendar>
                                    <h:outputText id="age" value="#{employeeView.age} Years old"/>
                                </div>
                            </div>

                            <div class="ui-grid-row" style="margin-top: 15px; margin-bottom: 10px;">
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Department:"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:selectOneMenu id="department" value="#{departmentView.selectDepartment}" style="width:125px" required="true" requiredMessage="กรุณาเลือกตำแหน่งของคุณ" styleClass="full-width">
                                        <f:selectItem itemLabel="กรุณาเลือกแผนก" itemValue=""/>
                                        <f:selectItems value="#{departmentView.departments}" var="item"
                                                       itemLabel="#{item.departmentName}" itemValue="#{item.id}" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Salary:"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:inputText id="salary" value="#{employeeView.salary}" required="true" requiredMessage="กรุณากรอกเงินเดือนของคุณ"/>
                                </div>
                            </div>


                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Telephone:"/>
                                    <br/>
                                    <p:commandButton actionListener="#{employeeView.startAddTel}" update=":formTel" process="@this" oncomplete="PF('dlgTel').show();" icon="ui-icon-plus"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:dataTable id="telephoneLists" value="#{employeeView.telephoneList}" var="telItem">
                                        <p:column headerText="Telephone">
                                            <h:outputText value="#{telItem.phoneNumber}" />
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Email:"/>
                                    <br/>
                                    <p:commandButton actionListener="#{employeeView.startAddEmail}" update=":emailDia" process="@this" oncomplete="PF('dlgEmail').show();" icon="ui-icon-plus"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:dataTable id="emailLists" value="#{employeeView.emailList}" var="emailItem">
                                        <p:column headerText="Email">
                                            <h:outputText value="#{emailItem.email}" />
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>


                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <p:outputLabel value="Nick Name:"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:inputText id="nickName" value="#{employeeView.employeeEntity.nickName}" required="true" requiredMessage="กรุณากรอกชื่อเล่นของคุณ" validatorMessage="กรุณากรอกข้อมูลให้ถูกต้อง 3-20 ตัวอักษร">
                                        <f:validateLength minimum="3" maximum="20"/>
                                    </p:inputText>
                                </div>
                                <div class="ui-grid-col-2">

                                </div>
                                <div class="ui-grid-col-4">
                                    <p:selectBooleanCheckbox id="status" value="#{employeeView.employeeEntity.status}">
                                        <p:ajax listener="#{employeeView.activeHired}" update=":formEmployee:statusLabel" />
                                    </p:selectBooleanCheckbox>
                                    <p:outputLabel id="statusLabel" value="#{employeeView.status}" style="margin-left: 10px;color: #{employeeView.styleStatus};"/>
                                </div>
                            </div>


                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2"></div>
                                <div class="ui-grid-col-4">
                                    <h:inputHidden id="employeeId" value="#{employeeView.employeeEntity.id}" />
                                    <p:commandButton ajax="false" id="btnSave" value="Save" process="@form" action="#{employeeView.saveData}" update="#{!facesContext.validationFailed and employeeView.telephoneList.size() ge 0 and employeeView.emailList.size() ge 0 ? 'formEmployee':':formEmployee:msgs3'}"/>
                                    <p:button outcome="index" value="Cancel"/>
                                </div>
                                <div class="ui-grid-col-2"></div>
                                <div class="ui-grid-col-4" style="text-align: right;">
                                    <p:commandButton value="Delete" action="#{employeeView.deleteEmployee(employeeView.employeeEntity.id)}" rendered="#{employeeView.employeeEntity.id gt 0}">
                                        <p:confirm icon="ui-icon-alert" />
                                    </p:commandButton>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ui-grid-col-2">
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12" style="text-align: center;">
                                    <p:graphicImage library="resources" name="#{employeeView.employeeEntity.photo}" style="width: 85%;" />
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12" style="text-align: center;">
                                    <p:fileUpload value="#{employeeView.file}" fileLimit="1" sizeLimit="100000" mode="simple" skinSimple="true" styleClass="fileUpload" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </h:form>
        <p:confirmDialog header="Delete Employee?" global="true" showEffect="fade" hideEffect="fade">
            <f:facet name="message">
                Do you want to delete<br/>"#{employeeView.employeeEntity.firstName} #{employeeView.employeeEntity.lastName}" ?
            </f:facet>
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </body>
</f:view>
</html>