<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
   <f:view>
       <h:head>
           <f:facet name="first">
               <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
               <title>Employee Lists</title>
           </f:facet>
       </h:head>
       <style type="text/css">
           #form\:employeeLists > .ui-datatable-header.ui-widget-header.ui-corner-top{
               display: none;
           }
       </style>
       <script type="text/javascript">
           jQuery(document).ready(function () {
               $(document).on('keyup', '#emFilter', function (){
                   var searchValue = document.getElementById('emFilter').value;
                   console.log(searchValue);
                   $("#form\\:employeeLists\\:globalFilter").val(searchValue);
                   $("#form\\:employeeLists\\:globalFilter").trigger('keyup');
               });
           });
       </script>
       <body>

           <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid-col-6">
                            <h1 style="margin: 0;">Employee Lists</h1>
                        </div>
                        <div class="ui-grid-col-6" style="text-align: right;">
                            <p:inputText id="emFilter" placeholder="Enter keyword"/>
                        </div>
                    </div>
                </div>
           </div>
            <!-- Data table -->
           <div class="ui-grid ui-grid-responsive" style="margin: 10px 0 10px 0;">
               <div class="ui-grid-row">
                   <div class="ui-grid-col-12">
                       <h:form id="form">
                           <p:dataTable id="employeeLists" var="item" value="#{employeeView.employees}" widgetVar="employeeTable" emptyMessage="ไม่พบข้อมูล" filteredValue="#{employeeView.employeesFilter}"  paginator="true" rows="10" paginatorAlwaysVisible="false">
                               <f:facet name="header">
                                   <p:outputPanel style="display: none;">
                                       <h:outputText value="Search all fields:" />
                                       <p:inputText id="globalFilter" onkeyup="PF('employeeTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                   </p:outputPanel>
                               </f:facet>
                               <p:column headerText="Name (job title)" sortBy="#{item.firstName}" filterBy="#{item.firstName} #{item.lastName}" filterMatchMode="contains" filterable="false">
                                   <p:link outcome="form" value="#{item.firstName} #{item.lastName}">
                                       <f:param name="employeeId" value="#{item.id}" />
                                   </p:link>
                                   <br/>
                                   <h:outputText value="#{item.department.departmentName}" />
                               </p:column>
                               <p:column headerText="Age" sortBy="#{item.age}">
                                   <h:outputText value="#{item.age}" />
                               </p:column>
                               <p:column headerText="Nickname" sortBy="#{item.nickName}" filterBy="#{item.nickName}" filterMatchMode="contains" filterable="false">
                                   <h:outputText value="#{item.nickName}" />
                               </p:column>
                               <p:column headerText="Status" sortBy="#{item.status}">
                                   <h:outputText value="#{item.status}" />
                               </p:column>
                           </p:dataTable>
                       </h:form>
                   </div>
               </div>
           </div>

           <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p:button outcome="form" value="New Employee" ></p:button>
                    </div>
                </div>
           </div>
       </body>
   </f:view>
</html>
